
@model IEnumerable<OdeToFood.Models.Review>

@{
    ViewBag.Title = "Index";         
}

<h2>The Latest Reviews</h2>



@foreach (var item in Model)
{   
    @Html.Partial("_Review", item);

}



<p>
    @Html.ActionLink("Create New", "Create")
</p>


@section Footer {

    <p>This is the footer</p>
    
}